@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CTS Inventory Management</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>Navigate to the Inventory page to begin Inventory Management.</p>
    </div>
</div>