
@{
    ViewBag.Title = "ViewInventory";
}

<h2>ViewInventory</h2>

<div class="row">
    <div class="col-md-6">
        <!--Add Search Fields here
            
            Keyword Search : Text Input : No associated model
            Item : Asset.Id : Asset
            Location : Asset.Locations, Location.Name : Asset and Location
            ClientSite: Asset.ClientSites, ClientSite.Name : Asset and ClientSite
            -->

    </div>
    <div class="col-md-6">
        <p>Enter search criteria to display a list of matching inventory items.</p>
        <p>Keyword Search will return items containing the keyword in any field.</p>
    </div>
</div>

